$primary_color: #3A5B7B;

body {
  background-color: $primary_color;
  font: {
    family: Verdana, Helvetica, Arial;
    size: 14px;
  }
}

#sidebar {
  position: absolute;
  top: 120px;
  left: 8px;
  display: inline-block;
  width: 60px;
  height: 300px;
}

.side_link {
  width: 70px;
  height: 16px;
  border: 2px solid #fff;
  border-radius: 3px;
  margin: 0 0 8px 0;
  padding: 2px 0;
}

.side_link > a {
  text-decoration: none;
  color: #fff;
  padding: 2px 10px;
}

a {
  color: #000;
  img {
    border: none;
  }
}

.delete_tag {
  font-size : 10px;
  text-decoration: none;
}

th {
  padding: 10px;
  font-weight: bold;
}

td {
  padding: 10px;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background: #fff;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#content {
  clear: both;
  padding-top: 20px;
}
